.service-detail-section {
  background: linear-gradient(to top left, rgb(255, 247, 90), #cfffbd);
  overflow-x: hidden;
}

.service-title {
  font-weight: bold;
  color: rgb(53, 53, 53);
  font-family: "Montserrat", serif;
  padding-top: 60px;
}

.activity-list {
  font-size: 1.1rem;
  color: #333;
  padding-left: 1rem;
}

.plan-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.2rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-5px);
}

.calculator-box {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.summary-box {
  text-align: left;
}

.summary-box h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.summary-box p {
  font-size: 0.95rem;
  color: #555;
}