.home-page {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
  }

.homepage-header-section {
    background: linear-gradient(to top left, rgb(255, 247, 90), #cfffbd);
    position: relative;
    width: 100%;
    margin: 0 auto; 
    padding: 5px 15px;
}

.homepage-main-section{
    margin: 100px 0px 0px 0px;
    font-family: 'Monsterat', serif;
}

.homepage-subtitle {
    margin: 30px 0px 0px 0px;
    color: rgb(53, 53, 53);
}

.homepage-title {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(53, 53, 53);
}

.header-subtitle {
    font-size: '30px';
    font-family: 'Open Sans';
    color: rgb(53, 53, 53);
}

.search-button {
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(231, 231, 231);
    color: rgb(43, 43, 43);
    background-color: rgb(231, 231, 231);
    padding: 5px 35px; /* Adjust the padding as needed */
    font-family: 'Open Sans';
}

.search-button:hover, .search-button:active {
    background-color: #a3ffa9;
    border-color: #a3ffa9;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

.image-container {
    margin: 0px;
    padding: 0px;
}

.services-section {
    background: linear-gradient(to top left, #cfffbd, rgb(255, 247, 90));
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.services-title {
    font-weight: bold;
    color: rgb(53, 53, 53);
    font-family: "Monsterat", serif;
}

.card-img-top {
    width: 90%;
    height: 90%;
    max-height: 200px; /* Optional: limit max height for consistency */
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.card {
    transition: box-shadow 0.3s ease;
    box-shadow: 15px 18px 32px 0px rgba(0, 0, 0, 0.514);
    z-index: 2;
}

.card-title {
    font-weight: bold;
    color: rgb(53, 53, 53);
    font-family: "Open Sans";
}

.card:hover {
    box-shadow: 20px 23px 32px 0px rgba(0, 0, 0, 0.587);
    z-index: 2;
}

[data-aos] {
  will-change: transform, opacity;
  backface-visibility: hidden;
}