.home-page {
    background-color: #fffbb6;
    padding: 20px 20px 0px 20px;
    font-family: Arial, sans-serif;
  }

.homepage-main-section{
    margin: 120px 0px 0px 0px;
}

.homepage-title {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(53, 53, 53);
}

.header-subtitle {
    font-size: '30px';
    color: rgb(53, 53, 53);
}

.search-button {
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(231, 231, 231);
    color: rgb(43, 43, 43);
    background-color: rgb(231, 231, 231);
    padding: 5px 35px; /* Adjust the padding as needed */
}

.search-button:hover {
    background-color: #a3ffa9;
    border-color: #a3ffa9;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

.image-container {
    margin: 0px;
    padding: 0px;
}